body {
    margin: 0;
    padding: 0;
    background-color: rgb(148, 112, 71);
    animation: appearDown 1s ease;
    animation-fill-mode: forwards;
}
@keyframes appearDown {
    from{
        opacity: 0;
        transform: translate(0, -100%);
    }
    to{
        opacity: 1;
        transform: translate(0, 0);
    }
}
.back__nav{
    background-color: #f3e9f1;
    border-bottom: solid black 2px;
    box-shadow: black 0px 0px 10px;
    height: 65px;
}
.front__nav{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.logo__orinoco{
    width: 145px;
}
.logo_shop{
    font-size: 25px;
    color: black;
}
.logo_shop:hover{
    background: linear-gradient(110deg, #e68a0a, #8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
}
.title{
    font-weight: 700;
    display: flex;
    font-family: "cursive", "sans serif";
    color: white;
    margin: 0;
    font-size: 4vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
h1{
    color: white;
}
h2{
    color: white;
    font-size: 4vh;
}
.h2{
    display: flex;
    width: 100%;
    justify-content: center;
}
.black{
    color: black;
    font-size: 2em;
}
.image__index{
    width: 100%;
    border-radius: 2em 2em 0 0;
    max-height: 550px;
    object-fit: cover;
}
#mainProduct{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#groupeModal{
    display: none;
    max-height: 900px;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 2vh;
    height: auto;
    justify-content: space-around;
}
.infoModal{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.btnModal{
    display: flex;
    background-color: rgb(148, 112, 71);
    padding: 10px;
    color: white;
    font-size: 20px;
    width: 30%;
    height: auto;
    min-height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    border: none;
    box-shadow: black 1px 1px;
    margin-bottom: 20px;
    cursor: pointer;
}
.btnModal:hover{
    box-shadow: black 2px 2px;
}
.btnModal:active{
    box-shadow: black 1px 1px;
}
#simple__container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.groupe__info{
    background-color: rgb(104, 75, 42);
    width: 100%;
    max-width: 900px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    border: white solid;
    border-radius: 2.5em;
    box-shadow: black 2px 2px 2px;
    animation: appearLeft 1s ease;
}
.global{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    background-color: white;
}
@keyframes appearLeft {
    from{
        opacity: 0;
        transform: translate(-100%);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
.name__index, .price__index{
    width: 40%;
    height: 110px;
    display: flex;
    align-items: center;
    font-size: 2em;
}
.price__index{
    justify-content: flex-end;
}
.name__index{
    padding-left: 10%;
}
.btn{
    display: flex;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
    width: 30%;
    min-width: 214px;
    max-width: 500px;
    font-size: 24px;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: black 4px 4px 8px;
}
.description__product{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}
.compteur{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 2em;
    margin-bottom: 30px;
}
#btnMoins{
    padding-bottom: 12px;
}
#btnMoins, #btnPlus{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}
#nombre{
    font-size: 1.5em;
}
#btnMoins:hover, #btnPlus:hover{
    box-shadow: black 4px 4px 8px;
}
#cache{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 3vw;
}
#display__none{
    display: none;
}
#simple__container--product{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.choix__couleur{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.5em;
    margin-bottom: 30px;
    align-items: center;
}    
#select__color{
    font-size: 1em;
    border-radius: 10px;
    height: 30px;
}
.image__product{
    width: 100%;
    min-width: 150px;
    max-width: 650px;
    margin-bottom: 20px;
    border-radius: 1.7em 1.7em 0 0;
}
.name__product, .price__product {
    color: white;
    width: 40%;   
}
.name__product{
    padding-left: 10%;
}
.price__product {
    text-align: end;
    padding-right: 10%;
}
#section__produit{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-weight: 900;
}
.groupe__product{
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    background-color: rgb(104, 75, 42);;
    border-radius: 2em;
    margin-bottom: 40px;
    border: white solid;
    justify-content: center;
}
#section__priceAndForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
}
.ajust{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form__agencement{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.2em;
}
.btn__panier{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.quantity__product{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btnDel{
    border: none;
    margin: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: white 3px 0px;
    cursor: pointer;
}
#sendForm, #delete__panier{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 1.2em;
}
.titleOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    border-bottom-width: 2px;
}
.title2{
    margin-right: 20px;
}
#valid{
    font-size: 1.5em;
    background: linear-gradient(110deg, #e68a0a, #8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#message{
    width: 80%;
    list-style-type: none;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.info{
    font-size: 1.2em;
}
#order__confirm{
    background-color: white;
    margin-top: 90px;
}
#email{
    font-size: 35px;
}
#total{
    font-size: 50px;
}
ul{
    display: flex;
    flex-direction: column;
    font-size: 40px;
}
em, li{
    font-weight: 700;
    list-style-type: none;
}
span {
    color: white;
}
#orderId{
    display: flex;
    font-size: 40px;
    margin: 33px 0;
    justify-content: center;
}
#noVisible{
    display: none;
}
#visible{
    display: flex;
    max-height: 900px;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 2vh;
    height: auto;
    justify-content: space-around;
}
#sendForm, #delete__panier{
    border-radius: 2vh;
}